AgentHost/Service References/AgentControlServiceReference/asyncperformancetest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.comodo.com/esm/testlabs/asyncperformancetest/Imports">
      <xsd:import namespace="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AgentsControlService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="AgentsControlService_Initialize_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="AgentsControlService_SetConnectionsCount_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetConnectionsCount" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="AgentsControlService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://schemas.comodo.com/esm/testlabs/asyncperformancetest/AgentsControlService/Register" message="tns:AgentsControlService_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Initialize">
      <wsdl:output wsaw:Action="http://schemas.comodo.com/esm/testlabs/asyncperformancetest/AgentsControlService/Initialize" message="tns:AgentsControlService_Initialize_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetConnectionsCount">
      <wsdl:output wsaw:Action="http://schemas.comodo.com/esm/testlabs/asyncperformancetest/AgentsControlService/SetConnectionsCount" message="tns:AgentsControlService_SetConnectionsCount_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>