Console/Service References/ConsoleServiceReference/ConsoleService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" elementFormDefault="qualified" targetNamespace="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8595/ConsoleService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="GetComputers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetComputersResult" nillable="true" type="q1:ArrayOfComputer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>