AgentHost/Service References/AgentServiceReference/asyncperformancetest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" elementFormDefault="qualified" targetNamespace="http://schemas.comodo.com/esm/testlabs/asyncperformancetest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Handshake">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandshakeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoOperation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>